/*@tailwind base;
@tailwind components;
@tailwind utilities;*/

body {
    background-color: whitesmoke;
}

.top-bar {
    background-color: #f1f1f1; /* Gris claro */
    color: #333; /* Texto oscuro para buen contraste */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-bottom: 10px;
}

/*-------------------Edición usuarios: lápiz------------------------------*/
.editable-row .edit-btn {
    display: none;
}

.editable-row:hover .edit-btn {
    display: inline;
    color: #007bff;
}

.editable-row strong {
    color: #333;
    font-weight: 600;
}

.edit-btn i {
    color: #999;
    transition: color 0.2s ease;
}

#biography {
    display: block;
    text-align: justify;
    max-width: 600px;
    text-justify: inter-word;
}

/*------------------------------------------------Estrellas de valoración----------------------------------------------*/
.valoration {
    flex-direction: row-reverse; /*que vaya de derecha a izquierda*/
    display: flex;
    gap: 5px;
    justify-content: left;
}

/*ocultar los radios*/
.valoration input{
    display: none;
}

/*ocultar inputs de symfony*/
.star-rating-input, #personal_activity_valoration{
    display: none;
}

.valoration label{
    cursor: pointer;
    color: gray;
}

.valoration label i{
    font-size: 1rem;
}

.valoration label:hover i,
.valoration input:checked  ~ label i{
    color: gold;
}

.valoration label:hover,
.valoration label:hover  ~ label,
.valoration input:checked  ~ label{
    color: gold;
}

.valoration input:checked + label {
    color: gold;
}

/*-------------------------Resaltar acompañante en actividad al crearla-------------------------------*/
.list-group-item.active {
    background-color: #007bff;
    color: white;
}

/*-----------------Actividades en el perfil del usuario-----------------------------------------------*/
.flex-activities {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px 0;
}

.flex-activities > * {
    flex: 0 0 calc(100% / 6 - 20px);
}


.category-icon {
    background-color: white;
    border: 2px solid #0d6efd; 
    color: #0d6efd;
    transition: background-color 0.3s, color 0.3s;
}

.category-icon:hover{
    background-color: #0d6efd;
    color: white;
}

.category-icon:hover i{ /*fontawesome se comporta como texto, así que poniendo la i cambiará el iconco al hacer hover*/
    color: white;
}

.activity-item img{
    transition: transform 0.5s ease;
}

.activity-item img:hover{
    transform: scale(1.1);
}

/*---------iconos dentro de las fotos de actividad--------------------------*/
.img-container {
    position: relative;
    display: inline-block;
    width: 150px; 
    height: 150px; 
}

.icon-overplay {
    position: absolute; /*posicionar iconos dentro del contenedor*/
    bottom: 10px;
    right: 50px; 
    display: flex;
    gap: 8px;
    z-index: 10;
}

.icon-btn {
    padding: 5px;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s ease;
    font-size: 15px; /*tamaño icon*/
}

.icon-btn i {
    color: white;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.8); /* sombra fuerte para contraste */
    font-size: 14px;
}

.icon-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transform: scale(1.1);
}


/*-------------márgenes en columnas y centrar imagen en ver actividad----------*/
.col-md-6, .col-md-4{
    margin-top: 10px;
    margin-bottom: 10px;
}

.col-md-4.text-center img {
    max-width: 250px;
    width: 150%;
    object-fit: cover;
    margin-top: 10px;
}
